@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';
@use 'var';
@use 'args';
@use 'utils';
@use 'color' as sass-color;

@function mix($colorName1, $colorName2, $weight: 50%, $args...) {
  $colorType: args.parseKwargs($args...) or var.$RGBA;
  $kwargs: args.normalize($colorType, $args...);
  $valid: args.validate(var.$MIX, ($colorName1, $colorName2), $weight: $weight, $kwargs...);
  $ops: ();

  @each $property in $colorType {
    $w: map.get($kwargs, $property) or $weight;
    $ops: map.set($ops, $property, utils.calcMix($colorName1, $colorName2, $w, $property));
  }

  @return sass-color.makeColor($ops...);
}

@function _calcProperties($colorName, $function, $args...) {
  $kwargs: meta.keywords($args);
  $valid: args.validate($function, $colorName, $kwargs...);
  $ops: ();
  @each $property, $value in $kwargs {
    @if $value {
      $ops: map.set($ops, $property, utils.calcProperty($value, $colorName, $property, $function));
    }
  }
  @return $ops;
}

@function _hasAlpha($colorName) {
  @return map.get(var.$COLORS, $colorName, 'alpha');
}

@function _defaults($colorName, $properties: var.$HSL) {
  $ops: ();
  @each $property in $properties {
    $ops: map.set($ops, $property, utils.postfix($colorName, $property));
  }
  @return $ops;
}

@function _calcColor($colorName, $function, $args...) {
  $colorType: args.parseKwargs($args...);
  @if not $colorType {
    @if $function == var.$SCALE {
      @if args.hasAlpha($args...) {
        $colorType: var.$HSLA;
      } @else {
        $colorType: var.$HSL;
      }
    } @else {
      $colorType: args.parsePositional($args...);
    }
  }
  $colorType: $colorType or var.$HSL;
  @if list.length($colorType) == 3 and _hasAlpha($colorName) {
    $colorType: list.append($colorType, var.$ALPHA);
  }
  $kwargs: args.normalize($colorType, $args...);
  $properties: _calcProperties($colorName, $function, $kwargs...);
  $defaults: _defaults($colorName, $colorType);
  $properties: map.merge($defaults, $properties);
  @return sass-color.makeColor($properties...);
}

@function adjust($colorName, $args...) {
  @return _calcColor($colorName, var.$ADJUST, $args...);
}

@function change($colorName, $args...) {
  @return _calcColor($colorName, var.$CHANGE, $args...);
};

@function scale($colorName, $args...) {
  @return _calcColor($colorName, var.$SCALE, $args...);
};

@function _parseSetArg($arg) {
  $property: map.has-key(var.$PROPERTIES, $arg) and $arg;
  $func: list.index(var.$FUNCTIONS, $arg) and $arg;
  @if not $property and not $func {
    @error 'Bad argument for set function: #{$arg}';
  }
  @return $property, $func;
}

// could simplify if I changed the previous function outputs and used meta.call
@function _getOperation($colorName, $property: null, $type: null, $settings: null) {
  @if not $property {
    @error 'Must specify color property: #{$property} #{$type} #{$settings}';
  }
  @if not $type {
    @error 'Must specify modification type: #{$property} #{$type} #{$settings}';
  }
  @if $type == 'mix' {
    $colorName2: list.nth($settings, 1); // allow map as well
    $weight: list.nth($settings, 2) or 50%;
    $valid: args.validate(var.$MIX, ($colorName, $colorName2), $weight: $weight);
    $invert: $property == var.$HUE and _invertHue($colorName, $colorName2);
    // invert option
    @return utils.calcMix($colorName, $colorName2, $weight, $property, $modify: $invert and -360deg);
  } @else {
    $param: list.nth($settings, 1);
    $valid: args.validate($type, $colorName, (#{$property}: $param)...);
    @return utils.calcProperty($param, $colorName, $property, $type);
  }
}

@function set($colorName, $setMap: null, $argList...) {
  @if not $setMap {
    @return set($colorName, meta.keywords($argList));
  }

  $ops: ();
  @each $key1, $value in $setMap {
    $arg1: _parseSetArg($key1);
    @if meta.type-of($value) == 'list' and meta.type-of(list.nth($value, 1) != 'list') {
      $settings: ();
      @for $i from 2 through list.length($value) {
        $settings: list.append($settings, list.nth($value, $i));
      }
      $value: (#{list.nth($value, 1)}: $settings);
    }
    // @if meta.type-of($value) == 'map' {
    //   $value: list.zip(map.keys($value), map.values($value));
    // }
    @each $key2, $settings in $value {
      $arg2: _parseSetArg($key2);
      $property: list.nth($arg1, 1) or list.nth($arg2, 1);
      $type: list.nth($arg1, 2) or list.nth($arg2, 2);
      $ops: map.set($ops, $property, _getOperation($colorName, $property, $type, $settings));
    }
  }

  $defaults: map.get(var.$COLORS, $colorName, 'defaults'); // this needs to change
  $properties: map.merge($defaults, $ops);
  @return sass-color.makeColor($properties...);
}

@mixin define($colorMap, $parent: '', $forceAlpha: true) {
  @if (meta.type-of($colorMap) == 'map') {
    @each $colorName in map.keys($colorMap) {
      $name: #{$parent}#{$colorName};
  
      @if ($colorName == 'color') {
        $name: #{$parent};
      }
  
      $color: map.get($colorMap, $colorName);
  
      $isColor: meta.type-of($color) == 'color';
      $isMap: meta.type-of($color) == 'map';
      $priorAlpha: _hasAlpha($colorName);
      $isAlpha: $forceAlpha or $priorAlpha or ($isColor and color.alpha($color) != 1);
  
      @if ($isMap) {
        @include define($color, $parent: $name);
      } @else if ($isColor) {
        $name-r: #{$name}#{var.$POSTFIX-RED};
        $name-g: #{$name}#{var.$POSTFIX-GREEN};
        $name-b: #{$name}#{var.$POSTFIX-BLUE};
        $name-h: #{$name}#{var.$POSTFIX-HUE};
        $name-s: #{$name}#{var.$POSTFIX-SATURATION};
        $name-l: #{$name}#{var.$POSTFIX-LIGHTNESS};
        $name-a: #{$name}#{var.$POSTFIX-ALPHA};
  
        $type: if($isAlpha, var.$HSLA, var.$HSL);
  
        #{$name}: sass-color.makeColor(_defaults($name, $type)...);
        #{$name-r}: color.red($color);
        #{$name-g}: color.green($color);
        #{$name-b}: color.blue($color);
        #{$name-h}: color.hue($color);
        #{$name-s}: color.saturation($color);
        #{$name-l}: color.lightness($color);
        @if ($isAlpha) {
          #{$name-a}: color.alpha($color);
        }

        var.$COLORS: map.set(var.$COLORS, $name, (
          'color': $color,
          'alpha': $isAlpha,
        ));
      } @else {
        #{$name}: $color;
      }
    }
  }
}
