@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';
@use 'sass:string';
@use 'var';

///
/// Decorator for css property var
///
/// @example
/// // returns var(--brand-color)
/// mkvar(--brand-color);
///
/// @param {Any} $property - Initial value
/// @return {String} - wrapper value with 'var'
///

@function mkvar($property) {
  @return string.unquote('var(#{$property})');
};

@function postfix($colorName, $colorProp) {
  $postfix: map.get(var.$PROPERTIES, $colorProp, 'postfix');
  @return mkvar(#{$colorName}#{$postfix});
}

///
/// Decorator for calc
///
/// @example
/// // returns calc(var(--brand-color) + 20)
/// mkcalc('var(--brand-color) + 20');
///
/// @param {Any} $property - Initial value
/// @return {String} - wrapper value with 'calc'
///
@function mkcalc($property) {
  @return string.unquote('calc(#{$property})');
};

@function calcProperty($parameter, $colorName, $colorProp, $type: null) {
  $property: postfix($colorName, $colorProp);
  $unit: map.get(var.$PROPERTIES, $colorProp, 'unit');
  $min: map.get(var.$PROPERTIES, $colorProp, 'min');
  $max: map.get(var.$PROPERTIES, $colorProp, 'max');

  @if $colorProp == var.$ALPHA and not map.get(var.$COLORS, $colorName, 'alpha') {
    // if targeting alpha for a color without an alpha value / variable
    @if not $parameter {
      @return null;
    }
    $property: 1;
  }

  $propIsNumber: meta.type-of($property) == 'number';
  $paramIsNumber: meta.type-of($parameter) == 'number';
  $param: if($paramIsNumber and math.is-unitless($parameter), $parameter * $unit, $parameter);

  @if ($type == var.$ADJUST) {
    // add or subtract parameter from existing value
    @if $propIsNumber and $paramIsNumber {
      @return math.clamp($min, $property + $param, $max);
    } @else if ($param) {
      @return mkcalc('#{$property} + #{$param}');
    }
    @return $property;
  }

  @if ($type == var.$CHANGE) {
    // replace existing value with parameter
    @if ($param) {
      @return $param;
    }
    @return $property;
  }

  @if ($type == var.$SCALE) {
    // scale existing value relative to its min or max
    @if $propIsNumber and $paramIsNumber {
      @return math.clamp($min, $property + math.div($param, 100%), $max);
    } @else if ($param) {
      // if $param is greater than 0, use difference from max. if less than 0, use min
      $adjust: 'max(#{$max} * max(0, #{$param}) / #{$param}, #{$property}) - max(#{$property} * max(0, #{$param}) / #{$param}, #{$min})';
      $adjust: '(#{$adjust}) * #{$param}';
      @if ($paramIsNumber) {
        // simplify css output if $param is a number
        $percentile: if($paramIsNumber, math.div($param, 100%), $param);
        $adjust: if($percentile > 0,
          '#{$max} - #{$property}',
          '#{$property} - #{$min}');
        $adjust: '(#{$adjust}) * #{$percentile}';
      }
      @return mkcalc('#{$property} + (#{$adjust})');
    }

    @return $property;
  }

  @return null;
}

@function calcMix($colorName1, $colorName2, $weight, $colorProp, $modify: null) {
  $var1: postfix($colorName1, $colorProp);
  $var2: postfix($colorName2, $colorProp);
  @if $colorProp == var.$ALPHA {
    $hasAlpha1: map.get(var.$COLORS, $colorName1, 'alpha');
    $hasAlpha2: map.get(var.$COLORS, $colorName2, 'alpha');
    @if not $hasAlpha1 and not $hasAlpha2 {
      @return null;
    }
    $var1: if($hasAlpha1, $var1, 1);
    $var2: if($hasAlpha2, $var2, 1);
  }

  $w1: #{$weight};
  $w2: '(1 - #{$weight})';
  @if meta.type-of($weight) == 'number' {
    $w1: math.div($weight, 100%);
    $w2: 1 - $w1;
  }

  @if $modify {
    @if $var1 {
      $var1: '(#{$var1} + #{$modify})';
    } @else if $var2 {
      $var2: '(#{$var2} + #{$modify})';
    }
  }

  $expr1: if(meta.type-of($var1) == 'number' and meta.type-of($w1) == 'number', $var1 * $w1, '(#{$var1} * #{$w1})');
  $expr2: if(meta.type-of($var2) == 'number' and meta.type-of($w2) == 'number', $var2 * $w2, '(#{$var2} * #{$w2})');
  @return mkcalc('#{$expr1} + #{$expr2}');
}

///
/// Add `$unit` to `$value`
///
/// @param {Number} $value - Value to add unit to
/// @param {String} $unit - String representation of the unit
///
/// @return {Number} - `$value` expressed in `$unit`
///
@function to-unit($value, $unit) {
  $units: (
    '%': 1%,
    'ch': 1ch,
    'cm': 1cm,
    'deg': 1deg,
    'em': 1em,
    'ex': 1ex,
    'grad': 1grad,
    'Hz': 1Hz,
    'in': 1in,
    'kHz': 1kHz,
    'mm': 1mm,
    'ms': 1ms,
    'pc': 1pc,
    'pt': 1pt,
    'px': 1px,
    'q': 1q,
    'rad': 1rad,
    'rem': 1rem,
    's': 1s,
    'turn': 1turn,
    'vh': 1vh,
    'vmax': 1vmax,
    'vmin': 1vmin,
    'vw': 1vw,
  );
  
  @if not list.index(map.keys($units), $unit) {
    @error 'Invalid unit `#{$unit}`.';
  }

  @if (meta.type-of($value) != 'number') {
    @error 'Value for `to-number` should be a number or a string.';
  }

  @if (meta.type-of($value) == 'number') {
    @return $value * map.get($units, $unit);
  }

  @return null;
};

///
/// Casts a string into a number
///
/// @param {String | Number} $value - Value to be parsed
///
/// @return {Number}
///
@function to-number($value) {
  @if meta.type-of($value) == 'number' {
    @return $value;
  } @else if meta.type-of($value) != 'string' {
    @error 'Value for `to-number` should be a number or a string.';
  }
  
  $result: 0;
  $decimal: 0;
  $d: string.index($value, '.');
  $minus: string.slice($value, 1, 1) == '-';
  $numbers: (
    '0': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9,
  );

  @if $d {
    $decimal: to-number(string.slice($value, $d + 1));
    $decimal: math.div($decimal, math.pow(10, string.length($value) - $d));
    $value: string.slice($value, 1, $d - 1);
  }
  
  @for $i from if($minus, 2, 1) through string.length($value) {
    $character: string.slice($value, $i, $i);
    $number: map.get($numbers, $character);

    @if not $number {
      $result: $result + $decimal;
      @return to-unit(if($minus, -$result, $result), string.slice($value, $i))
    }

    $result: $result * 10 + $number;
  }

  $result: $result + $decimal;
  @return if($minus, -$result, $result);
}

/// Replace `$search` with `$replace` in `$string`
// credits: https://css-tricks.com/snippets/sass/_str-replace-function/
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: string.index($string, $search);
  
  @if $index {
    @return string.slice($string, 1, $index - 1)
    + $replace
    + str-replace(
        string.slice($string, $index + string.length($search)),
          $search,
          $replace
        );
  }
  
  @return $string;
}
